.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
models/*.joblib
!models/.gitkeep
data/raw/*.csv
!data/raw/.gitkeep
data/processed/*
data/submissions/*
!data/processed/.gitkeep
!data/submissions/.gitkeep
mlruns/
logs/*
!logs/.gitkeep
